@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto', sans-serif
}
.cursive {
  font-family: 'Dancing Script', cursive;
}

.merriweather {
  font-family: 'Merriweather', serif;
}

